$layout-breakpoint-small: 767px;

.users-cards-wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 50px;

  .logo-image {
    width: 500px;
  }

  .actions {
    display: flex;
    gap: 10px;
    transition: all .3s ease-in-out;
    z-index: 2;

    &.find-user {
      position: fixed;
      bottom: 50px;
    }
  }
}
.users-card-wrapper {
  display: grid;
  flex-wrap: wrap;
  justify-content: center;
  grid-template-columns: repeat(4, 1fr);
  gap: 15px;
}

@media (max-width: $layout-breakpoint-small) {
  .users-cards-wrapper{
    .logo-image {
      width: 100%;
    }
  }

  .users-card-wrapper {
    grid-template-columns: repeat(3, 1fr);
  }

  .actions {
    button {
      font-size: 14px;
    }
  }
}